@model CustomersBooks


To add book, choose the book you want and click on <strong>Add</strong>
<form asp-controller="Home" asp-action="Dell" method="post">
          <label asp-for="BooksId">Books</label>
    <select id="select1" asp-for="BooksId">
        @for (int i = 0; i < ViewBag.Books.Count; i++)
        {
                <option value=@ViewBag.Books[i].Id>@ViewBag.Books[i].Name</option>
        }
    </select>
    <button type="submit">Add</button>
    </form>




  


